<form [formGroup]="form" class="col-md-6">
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        formControlName="inputSelection"
        id="encrypt-input-file"
        value="file"
        (click)="fileSelected()"
      />
      <label class="form-check-label" for="encrypt-input-file">File</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        formControlName="inputSelection"
        id="encrypt-input-text"
        value="text"
        (click)="textSelected()"
      />
      <label class="form-check-label" for="encrypt-input-text">Text</label>
    </div>
  </div>
  <div class="form-group">
    <input
      type="file"
      class="form-control-file"
      id="encrypt-file-upload"
      (change)="onFileChange($event)"
      [hidden]="selectedInput !== 'file'"
    />
    <input
      [hidden]="selectedInput !== 'text'"
      formControlName="fileInputName"
      class="form-control"
    />
  </div>

  <div class="form-group row">
    <label for="algo" class="col-sm-2 col-form-label">Algorithm</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="algo" id="algo">
        <option *ngFor="let alg of inputConfiguration.supportedAlgorithms" [value]="alg">
          {{ alg }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row" *ngIf="inputConfiguration.requiredPassword">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        formControlName="password"
        id="password"
      />
      <small>
        Should have 1 uppercase, 1 lowercase, 1 special char (!@#$%^& etc), 1
        number. Min 8 chars.
      </small>
    </div>
  </div>

  <div class="form-group">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!form.valid"
      (click)="onDownloadFileClick()"
    >
      <span [class]="inputConfiguration.downloadFileButtonClasses"></span> |
      <span class="fas fa-download"></span> |
      <span>{{ inputConfiguration.downloadFileButtonText }}</span>
    </button>
    <span class="ml-2 mr-2">|</span>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!form.valid"
      (click)="onRevealHereClick()"
    >
      <span [class]="inputConfiguration.revealHereClasses"></span> |
      <span class="fas fa-file"></span> |
      <span>{{ inputConfiguration.revealHereText }}</span>
    </button>
  </div>
  <div *ngIf="revealedContent" class="form-group">
    <textarea name="revealed-content" rows="10" class="form-control">{{
      revealedContent
    }}</textarea>
  </div>
</form>
