<div class="btn-group" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-primary dropdown-toggle theme-changer"
    aria-controls="dropdown-basic"
  >
    Change theme <span class="caret"></span>
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu theme-changer-menu"
    role="menu"
    aria-labelledby="button-basic"
  >
    <li role="menuitem" *ngFor="let theme of themeList">
      <a
        class="dropdown-item"
        href="#"
        (click)="changeThemeClicked(theme)"
        [class.selected]="theme.name === activeTheme"
      >
        {{ theme.name }}
      </a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem text-center">
      <span class="dropdown-item">
        All thanks to <br />
        <a href="https://www.bootstrapcdn.com/bootswatch/">BootstrapCDN</a>
      </span>
    </li>
  </ul>
</div>
