<form [formGroup]="form" (submit)="onSubmit()" class="col-md-6">
  <h2>Encrypt a file or text</h2>
  <div class="form-group">
    <label>I want to encrypt</label>
    <br />
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        formControlName="inputSelection"
        id="encrypt-input-file"
        value="file"
      />
      <label class="form-check-label" for="encrypt-input-file">File</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        formControlName="inputSelection"
        id="encrypt-input-text"
        value="text"
      />
      <label class="form-check-label" for="encrypt-input-text">Text</label>
    </div>
  </div>
  <div class="form-group">
    <label for="encrypt-file-upload">Upload file to encrypt</label>
    <input
      type="file"
      class="form-control-file"
      id="encrypt-file-upload"
      (change)="onFileChange($event)"
    />
    <input type="hidden" formControlName="fileInputName" />
  </div>
  <div class="form-group">
    <label for="algo">Algorithm</label>
    <select class="form-control" formControlName="algo" id="algo">
      <option value="AES">AES</option>
    </select>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      id="password"
    />
    <small>
      Should have 1 uppercase, 1 lowercase, 1 special char (!@#$%^& etc), 1
      number
    </small>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    <span class="fas fa-lock"></span> | <span class="fas fa-download"></span> |
    <span>Download encrypted file</span>
  </button>
</form>
